body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

p {
    color: white;
}
label {
    color: white;
}
a {
    color: cornflowerblue;
}
h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}